<beans xmlns="http://www.springframework.org/schema/beans"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="demo" class="com.dIDemo.dIDemo.Demo" autowire="ByType">
		<!-- <property name="note" value="2"></property> --><!-- for setter injection-->
		<!--<property name="car" ref="rr"></property> -->
		
		<!--<constructor-arg value="5"></constructor-arg>-->
		<!--<property name="pen" ref="pen"></property>--><!-- reference the variable-->
		
		<!-- autowire
		ByType - if the class dependent on the type (Demo class variable dependent on the Car interface)
		ByName
		-->
	</bean> 
	<bean id="rr" class="com.dIDemo.dIDemo.RR"></bean>
	<!--<bean id="ferrari" class="com.dIDemo.dIDemo.Ferrari"></bean>
	<bean id="pen" class="com.dIDemo.dIDemo.Pen"></bean>--><!-- for reference variable-->
</beans>
